.portfolio {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: "Arial", sans-serif;

}

.portfolio .portfolioTitle {
    font-weight: bolder;
    color: #66fcf1;
    font-size: 60px;
    text-align: center;
}

.portfolioItem:hover {
    transition: 0.3s ease-in;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.portfolioItem .bgImage {
    background-size: cover;
    border-top-right-radius: 15px;
    width: 100%;
    border-top-left-radius: 15px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolioItem h1 {
    font-size: 25px;
}

@media only screen and (max-width: 1300px) {
    .portfolioList {
        grid-template-columns: 1f 1ft;
    }
}

@media only screen and (max-width: 800px) {
    .portfolioList {
        grid-template-columns: 1fr;

    }
}

@media only screen and (max-width: 800px) {
    portfolioList {
        width: 100%
    }
    .portfolioItem {
        height: 300px;
        width: 300px;
    }
}

.portfolioList {
    place-items: center;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70vw;
}

.portfolioItem {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    margin: 40px;
    text-align: center;
}